body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--gray-2);
    width: 100%;
    // background-image: url("../images/background/background\ plante.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  img {
    max-width: 100%;
  }